.navlink {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}
.active {
  color: red;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
}

.logout-form {
  display: inline-block;
}
